<template>
    <div class="row my-5 mx-2">
        <div class="col-12">
            <div class="card border-success">
                <div class="card-header bg-transparent border-success text-center text-success"><h3>Proveedores de internet</h3></div>
                    <div class="card-body text-success">
                        <form v-on:submit.prevent="send">
                            <div class="row px-5">

                                <div class="jumbotron col-12 p-3">
                                    <div class="container">
                                        <label class="switch-light switch-candy" onclick="">
                                            <input v-model="search_zipcode" type="checkbox">

                                            <strong>
                                                Tipo de busqueda
                                            </strong>

                                            <span>
                                                <span>Direccion</span>
                                                <span>Codigo postal</span>
                                                <a></a>
                                            </span>
                                        </label>

                                        <div class="form-group" style="margin-bottom: 0 !important" v-if="search_zipcode">
                                            <input type="text" v-model="zipcode" class="form-control" id="zipcode" placeholder="XXXXX">
                                        </div>
                                        <div class="form-group" style="margin-bottom: 0 !important" v-else>
                                            <input type="text" v-model="request.address" class="form-control" id="address">
                                        </div> 

                                        <div class="row mt-1">
                                            <div class="col-12">
                                                <div class="form-check form-check-inline">
                                                    <input v-model="request.consumer" class="form-check-input" type="checkbox" id="consumer">
                                                    <label class="form-check-label" for="consumer">Hogar</label>
                                                </div>
                                                <div class="form-check form-check-inline">
                                                    <input v-model="request.business" class="form-check-input" type="checkbox" id="business">
                                                    <label class="form-check-label" for="business">Empresarial</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="dbaname">Nombre de la empresa</label>
                                                <input type="text" v-model="request.dbaname" class="form-control" id="dbaname">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <label for="techcode">Tech Code</label>
                                                    <select v-model="request.techcode" class="form-control" id="techcode">
                                                        <option value="-1">Todos los proveedores</option>
                                                        <option value="10">Asymmetric xDSL</option>
                                                        <option value="11">ADSL2, ADSL2+</option>
                                                        <option value="12">VDSL</option>
                                                        <option value="20">Symmetric xDSL*</option>
                                                        <option value="30">Other Copper Wireline</option>
                                                        <option value="40">Cable Modem other than DOCSIS 1, 1.1, 2.0, 3.0, or 3.1</option>
                                                        <option value="41">Cable Modem – DOCSIS 1, 1.1 or 2.0</option>
                                                        <option value="42">Cable Modem – DOCSIS 3.0</option>
                                                        <option value="43">Cable Modem – DOCSIS 3.1</option>
                                                        <option value="50">Optical Carrier / Fiber to the end user</option>
                                                        <option value="60">Satellite</option>
                                                        <option value="70">Terrestrial Fixed Wireless</option>
                                                        <option value="90">Electric Power Line</option>
                                                        <option value="0">All Other</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="format">Format</label>
                                        <select v-model="request.format" class="form-control" id="format">
                                            <option value="json">JSON</option>
                                            <option value="xml">XML</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-12">
                                    <div class="btn-group" role="group" aria-label="Opciones de busqueda">
                                        <button type="submit" class="btn btn-outline-success">Buscar por {{ (search_zipcode)? "zipcode" : "direccion" }}</button>
                                        <button type="button" v-on:click="getCurrentLocation()" class="btn btn-outline-danger">Usar mi ubicacion actual</button>
                                        <button type="button" v-on:click="getAllProviders()" class="btn btn-outline-primary">Busqueda general</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                <div class="card-footer bg-transparent border-success">
                    <div v-if="request.format=='json'" class="col-12">
                        <pre>
                            @{{ providers }}
                        </pre>
                    </div>
                    <p v-else class="col-12" v-text="providers_xml"></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data(){ 
            return {
                search_zipcode: true,
                zipcode: '94043',
                request: {
                    address: '1600 Amphitheatre Pkwy, Mountain View, CA 94043, USA',
                    format: 'json',
                    techcode: -1,
                    dbaname: '',
                    consumer: true,
                    business: false,
                },
                providers: {},
                providers_xml: ''
            }
        },
        methods: {
            getProviders: function(url) {
                self = this;
                self.providers = {};
                self.providers_xml = '';
                this.request.consumer = (this.request.consumer)? 1: 0;
                this.request.business = (this.request.business)? 1: 0;

                axios.get(url, {params: this.request})
                .then(function (response) {
                    if (response.status == 200){
                        var providers_count = 0;

                        if (self.request.format == 'json') {
                            self.providers = response.data;
                            for(var prop in response.data.providers)
                                providers_count++;
                        } else {
                            self.providers_xml = response.data;
                            let xml = $( $.parseXML( response.data ) );
                            providers_count = xml.find( "providers" ).children().length;
                        }
                            
                        Swal.fire(
                            'Proveedores obtenidos',
                            'Se encontraron un total de ' + providers_count + ' proveedores!',
                            'success'
                        );
                    }
                })
                .catch(function (error) {
                    let msg = "Inesperado";

                    if (error.response.data !== undefined)
                        if (typeof(error.response.data) == "string")
                            msg = error.response.data;
                        else if (error.response.data.message !== undefined && error.response.data.message !="")
                            msg = error.response.data.message;

                    Swal.fire({
                        type: 'error',
                        title: 'Error',
                        text: 'No se han encontrado proveedores',
                        footer: "<strong>Error:</strong>&ensp;" + msg
                    });
                })
                .then(function () {
                    // always executed
                });
            },
            getAllProviders: function() {
                this.getProviders('/all');
            },
            getCurrentLocation: function() {
                this.getProviders('/current-address');
            },
            send: function(){
                this.getProviders( ((this.search_zipcode)? ("/zipcode/" + this.zipcode) : "/address") );   
            }
        }
    }
</script>
